@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .App[data-theme="dark"] {
    background-color: black;
    color: white;
  }
  .App[data-theme="light"] {
    background-color: whiteblack;
    color: black;
  }
}
